<%- include('partials/header'); -%>
<div>
  <p class="Highscore"></p>
</div>
<br>
<br>
<%if(!user){%>
<button>Login to start playing!</button>
<%}else{%>
<button>Press any button to start playing</button>
<script>
  let Oldscore = localStorage.getItem('Highscore')
   document.querySelector(".Highscore").innerHTML = "Highscore er " + Oldscore;
  document.addEventListener('keydown', (event)=>{
    location.assign('/game')
  })
</script>
<%}%>
<style>
</style>
<%- include('partials/footer'); -%>