<%- include('partials/header'); -%>
<h1>Regler</h1>
<br>
<p>Spiller beveger seg med piltaster</p>
<br>
<p>Spiller har 3 liv</p>
<br>
<p>Spiller har en powerUp hvis man trykker på space,<br> som gir deg mer fart og gjør motstanderen treigere</p>
<%- include('partials/footer'); -%>